rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // A read rule can be divided into read and list rules
     match /images {
      // Applies to single document read requests
      allow get;
    }
     match /images {
      // Applies to single document read requests
      allow create;
    }
  }
}